[submodule "src/gcc-xtensa"]
	path = src/gcc-xtensa
	url = https://github.com/jcmvbkbc/gcc-xtensa.git
[submodule "src/newlib-xtensa"]
	path = src/newlib-xtensa
	url = https://github.com/jcmvbkbc/newlib-xtensa.git
	branch = xtensa
[submodule "src/esp-binutils"]
	path = src/esp-binutils
	url = https://github.com/fpoussin/esp-binutils.git
[submodule "src/lx106-hal"]
	path = src/lx106-hal
	url = https://github.com/tommie/lx106-hal.git
[submodule "src/esptool"]
	path = src/esptool
	url = https://github.com/themadinventor/esptool.git
[submodule "src/rabutron-esp8266"]
	path = src/rabutron-esp8266
	url = https://github.com/raburton/esp8266.git
[submodule "src/binutils-gdb-xtensa"]
	path = src/binutils-gdb-xtensa
	url = https://github.com/jcmvbkbc/binutils-gdb-xtensa.git
